{
  "image_configuration": {
    "images": {
      "batteryblock.png": {
        "section": "IntFlashSection",
        "format": "ARGB8888"
      },
      "chek.png": {
        "section": "IntFlashSection",
        "format": "ARGB8888"
      },
      "Frame 66.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "Frame 69.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "Fuel.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "fuil llov.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "fuil.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "Group 38.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "Group 39.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "Group 42.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "h.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "lh.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "Needl_Oil.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "oil.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "record.circle.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "reshot-icon-light-max-SKL25EYVD9 1.png": {
        "section": "IntFlashSection",
        "format": "ARGB8888"
      },
      "Serv.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "Temp.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "V.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "Vector 8.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      },
      "Vector.png": {
        "format": "ARGB8888",
        "section": "IntFlashSection"
      },
      "Water temp Blue.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "Water temp red.png": {
        "section": "IntFlashSection",
        "format": "L8_ARGB8888"
      },
      "Water temp.png": {
        "format": "L8_ARGB8888",
        "section": "IntFlashSection"
      }
    },
    "dither_algorithm": "0",
    "alpha_dither": "no",
    "layout_rotation": "90",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "L8_ARGB8888",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection",
    "l8_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}